@model SV.Application.InputModels.Usuarios.UsuarioInputModel

@{
    ViewData["Title"] = "Novo úsuario";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Novo Assento</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-area="Painel" asp-controller="Home" asp-action="Index">Ínicio</a></li>
                    <li class="breadcrumb-item active">Novo úsuario</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <form asp-action="Create">
                        <@await Component.InvokeAsync(typeof(SV.UI.Admin.Dashboard.Extensions.SummaryViewComponent))

                        <partial name="_UpSert" model="Model" />

                        <div class="card-footer">
                            <div class="col-10 text-center">
                                <input type="submit" class="btn btn-info" value="Salvar">
                                <a asp-action="Index" class="btn btn-default">Voltar</a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}