@model SV.UI.Admin.Dashboard.ViewModels.Aeronaves.AssentoViewModel

<div class="modal-header">
    <h4 class="modal-title">Adicionar assento</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">x</span><span class="sr-only">Fechar</span>
    </button>
</div>

<form asp-action="UpSertAssento">
    <div class="modal-body">

         @await Component.InvokeAsync(typeof(SV.UI.Admin.Dashboard.Extensions.SummaryViewComponent))

        <input type="hidden" asp-for="@Model.AssentoInputModel.VooId" />
        <input type="hidden" asp-for="@Model.AssentoInputModel.Id" />

        <partial name="_FormAssento" model="Model"/>
    </div>
     <div class="modal-footer">
        <div class="col-10 text-center">
            @if(Model.AssentoInputModel.Id != Guid.Empty)
            {
                <input type="submit" class="btn btn-info" value="Actualizar">
            }else
            { 
                <input type="submit" class="btn btn-info" value="Salvar">
            }
            <input type="button" value="Fechar" class="btn btn-default" data-dismiss="modal"/>
        </div>
    </div>
</form>
