@model SV.Application.InputModels.Aeronaves.AeronaveInputModel

<div class="card-body">
    <div class="form-group row">
        <label asp-for="Modelo" class="col-sm-4 col-form-label text-right">Modelo:</label>
        <div class="col-sm-6">
            <input asp-for="Modelo" class="form-control" placeholder="....">
            <span class="text-danger" asp-validation-for="Modelo"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Fabricante" class="col-sm-4 col-form-label text-right">Fabricante:</label>
        <div class="col-sm-6">
            <input asp-for="Fabricante" type="text" class="form-control" placeholder="....">
            <span class="text-danger" asp-validation-for="Fabricante"></span>
        </div>
    </div>
    <div class="form-group row align-items-center">
        <label asp-for="TotalDeAssentos" class="col-sm-4 col-form-label text-right">Nº Total de Assentos:</label>
        <div class="col-sm-6">
            <input asp-for="TotalDeAssentos" type="number" class="form-control" placeholder="1">
            <span class="text-danger" asp-validation-for="TotalDeAssentos"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4"></div>
        <div class="col-sm-6 custom-control custom-checkbox">
            <input asp-for="Activo" class="custom-control-input" type="checkbox" checked>
            <label asp-for="Activo" class="custom-control-label">Activo</label>
        </div>
    </div>
</div>